.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

.home-body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F6F6F6;
}

.home-header {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #163172;
}

.reminders-container {
    display: flex;
    flex-direction: column;
}

.header-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-all-reminders-button {
    margin: 20px;
    border-radius: 4px;
    background-color: white;
    width: 150px;
    height: 30px;
}

.delete-all-reminders-button:hover {
    cursor: pointer;
    background-color: #D6E4F0;
}